[package]
name = "dark-light"
version = "1.1.1"
authors = ["Corey Farwell <coreyf@rwell.org>"]
edition = "2018"
license = "MIT/Apache-2.0"
repository = "https://github.com/frewsxcv/rust-dark-light"
description = "Detect if dark mode or light mode is enabled"
readme = "README.md"
build = "build.rs"

[dependencies]
anyhow = "1.0.52"

[dev-dependencies]
tokio = { version = "1.23.0", features = ["full"] }

[target.'cfg(any(target_os = "linux", target_os = "freebsd", target_os = "dragonfly", target_os = "netbsd", target_os = "openbsd"))'.dependencies]
detect-desktop-environment = "0.2"
dconf_rs = "0.3"
dirs = "4.0"
zbus = "4.1.2"
rust-ini = "0.18"
ashpd = { git = "https://github.com/bilelmoussaoui/ashpd", branch = "master" }
crossbeam = "0.8.2"
tokio = { version = "1.23.0", features = ["full"] }
xdg = "2.4.1"

[target.'cfg(windows)'.dependencies]
winreg = "0.10"

[target.'cfg(target_os = "macos")'.dependencies]
objc = "0.2"

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3", features = [ "MediaQueryList", "Window" ] }
